.home {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

h2 {
    color: #0056b3;
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.general-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
}

h3 {
    color: #ff6600;
    margin-top: 20px;
    font-size: 24px;
}

p, li {
    margin-bottom: 10px;
    font-size: 16px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

.image-container {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
